.Container {
    position: fixed;
    inset: 0;
    z-index: 9999;
}

.Container::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(20, 20, 20, 0.8);
    z-index: 0;
}

.SpinnerContainer {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
